{% if user.is_authenticated %}

<div id="like-section">
<!-- <form  method="Post" id="like_post">-->
    <h4>{{ total_likes }} People like this post</h4>
                 {% csrf_token %}
                 <div class="form-group">
                {% if is_liked %}
                     <button type="button" id="like" name="post_id" value="{{ post.id }}" class="btn btn-danger">Dislike</button>
                {% else %}
                     <button type="button" id="like" name="post_id" value="{{ post.id }}" class="btn btn-primary">Like</button>
                 {%endif%}
                </div>


<!--   </form>-->
    </div>

{% endif %}
  <script>
  $(document).ready(function() {
$('#like').click(function(){
      $.ajax({
               type: "POST",
               url: "likepost/",
               data: {'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
               $('#like-section').html(response['form'])
<!--                      alert(response.message);-->
<!--                      alert('Company likes count is now');-->
                },
                error: function(rs, e) {
                       alert(rs.responseText);
                }
          });
    });
    });
</script>

